<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>NSFW</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <img alt="NOT DISPONIBLE" height="1200" width="1700" src="<%= url %>">

    <script>
        window.onload = async() => {
            setTimeout(() => {
                window.location.reload();
            }, 4000);
        }
    </script>
</body>
</html>