ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  background-color: aqua;
  margin-right: 90%;
  margin-top: 2%;
  padding-top: 1%;
  padding-bottom: 1%
}

/* Articles */

.art-1 {
  border: 5px wheat solid;
  width: 20%;
  text-align: center;
}

.art-1 img {
  border: 2px wheat solid;
}